<!-- Content Heading: show the title, else return to home screen -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
  <!-- The Message Block: Ex if an error appears -->
  <%- messages() %> 
  
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <!-- Register Display -->
  <form id="loginOuterBackground" action="../account/register" method="post">
    <p id="requiredTitle">All fields are required</p>
    <div id="loginBackground">
      <label for="accountFirstname">First name:</label>
      <Input type="text" name="account_firstname" id="accountFirstname" 
        required value="<%= locals.account_firstname %>"><br>
      <label for="accountLastName">Last name</label>
      <Input type="text" name="account_lastname" id="accountLastName" 
        required value="<%= locals.account_lastname %>"><br>
      <label for="email">Email Address:</label>
      <Input type="email" name="account_email" id="email" required placeholder="Enter a valid email address"
        required value="<%= locals.account_email %>"><br>
      <label for="password">Password</label>
      <Input type="password" name="account_password" id="password"
         pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
      <label>Passwords must be minimum of 12 characters and include 1 capital 
             letter, 1 number, and 1 special character.</label><br>
      <button id="passwordButton">Show Password</button><br>
      <button>Register</button>
    </div>
    <!-- <p id="signUp">No account?  <a href="/account/register">Sign-Up</a></p> -->
    <!-- pattern="^(?=.*[^a-zA-Z]).{1,}$"
    pattern="^(?=.*[^a-zA-Z]).{2,}$" -->
  </form>