<!-- three distinct sections: A content heading, a message, and the display. -->

<!-- Content Heading: show the title, else return tp home screen -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- The Message Block: Ex if an error appears -->
<%# messages() %>

<!-- The Add Classification Display --> <!-- /inv/management -->
<form class="outerBoxBackground" action="/inv/add-Inventory" 
method="post">
  <label>ALL FIELDS ARE REQUIRED</label>
  <!-- All within the box -->
  <div class="innerboxBackground">
    <label>Classification:</label><br>
    <%- brands %><br>
    <label for="make">Make</label><br>
    <input type="text" required name="inv_make" value="<%= locals.inv_make %>"
      minlength="3" id="make"
      placeholder="Min of 3 characters"><br>
    <label for="model">Model</label><br>
    <input type="text" required name="inv_model" id="model" value="<%= locals.inv_model %>"
      minlength="3"
      placeholder="Min of 3 characters">
    <label for="Description">Description</label><br>
    <textarea type="text" rows="4" required name="inv_description" id="Description" value="<%= locals.inv_description %>"></textarea><br>
    <label for="image">Image Path</label><br>
    <input type="text" required name="inv_image" id="image" value="/images/vehicles/no-image.png">
    <label for="Thumbnail">Thumbnail Path</label><br>
    <input type="text" required name="inv_thumbnail" id="Thumbnail" value="/images/vehicles/no-image-tn.png"><br>
    <label for="Price">Price</label><br>
    <input type="number" required name="inv_price" id="Price" placeholder="decimal or integer"><br>
    <label for="year">Year</label><br>
    <input type="number" required name="inv_year" id="year" placeholder="4-digit year" 
      min="1000" max="2050"
      pattern="\d{4}"><br>
    <label for="miles">Miles</label><br>
    <input type="number" required name="inv_miles" id="miles" placeholder="digits only"><br>
    <label for="color">Color.</label><br>
    <Input type="text" name="inv_color" id="color"
       required><br>  
    <button>Add Vehicle</button>
  </div>
</form>

<!-- pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>   -->
