<% if (title) { %>
<h1><%= accountData.account_firstname %> <%= accountData.account_lastname %> <%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>

<ul>
  <li><a href="/message/messageinbox" title="Message Inbox">Return to Inbox</a></li>
</ul>

<%- messageTable %>



