<% if (title) { %>
<h1><%= accountData.account_firstname %> <%= accountData.account_lastname %> <%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<h3>This is an internal system only. Recipient are limited to the threee generic accounts</h3>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>

<!-- value="<%= locals.message_body %>" -->

<label for="recipient_id">To:</label><br>
<%- myUsers %>
<br><label for="recipient">Subject:</label><br>
<input type="text" required name="ROBERT-CHANGE" value="PARKER-CHANGE" placeholder="digits only"     
minlength="1" id="recipient"><br>

<label for="mesBody">Description</label><br>
<textarea rows="4" required name="message_body" minlength="1" id="mesBody"><%= locals.message_body %>
  </textarea><br>
  <button>Send</button>

<!-- Table Below -->