<% if (title) { %>
<h1><%= accountData.account_firstname %> <%= accountData.account_lastname %> <%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>

<form  action="/message/newmessagepage" class="outerBoxBackground" method="post">
  <h3 class="cautionTitle">This is an internal system only. Recipient 
    are limited to the three generic accounts</h3>

  <div class="innerboxBackground">
    <label for="recipient_id">To:</label><br>
    <%- myUsers %>
    <br><label for="recipient">Subject:</label><br>
    <input type="text" required name="message_subject" 
    placeholder="Min of 1 character"     
    minlength="1" id="recipient"
    value="<%= locals.message_subject %>"><br>
    <label for="mesBody">Description</label><br>
    <textarea rows="4" required name="message_body" minlength="1" 
      placeholder="Min of 1 character" id="mesBody" 
      ><%= locals.message_body %></textarea><br>
   
    <button>Send</button>  
  </div>  
</form>
